.italic {
  font-style: italic;
}

body {
  font-family: Arial;
  width: 55%;
  margin: 80px auto;
  text-align: left;
  line-height: 22px;
}

.title {
  margin-bottom: 15px;
}

.real {
  margin-top: 0;
}

.motherfuckingwebsite {
  color: brown;
}

.motherfuckingwebsite-2 {
  color: brown;
  text-decoration: underline;
}

.wrong {
  color: red;
  text-decoration: underline;
}

.small {
  font-size: 8px;
}

.blue {
  color: blue;
  cursor: not-allowed;
}

.violet {
  color: blueviolet;
  cursor: not-allowed;
}

.bold {
  font-weight: bold;
}

.monospace {
  font-family: monospace;
  font-size: 14px;
}

.legend {
  font-size: 12px;
  color: #456;
  margin-top: -5px;
}

.image-flex {
  display: flex;
  max-width: 980px;
  margin: auto;
  align-items: center;
  gap: 20px;
}
.image-flex-content {
  padding: 10px;
}

.source {
  color: #456;
  font-size: 10px;
  font-style: italic;
}

.quote {
  color: #456;
}

.logo {
  text-align: center;
}

.carre-couleur-444 {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-left: 4px;
  background-color: #444;
}

.carre-couleur-454545 {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-left: 4px;
  background-color: #454545;
}

.couleur-444 {
  color: #444;
  font-weight: bold;
}

.couleur-454545 {
  color: #454545;
  font-weight: bold;
}

.theme-toggles {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.theme-toggles button {
  font-family: Arial;
  font-size: 14px;
  cursor: pointer;
  border: none;
  padding: 3px 5px;
  text-decoration: underline;
}

.contrast-button {
  background-color: lightgrey;
  color: black;
}

.normal-button {
  background-color: black;
  color: white;
}
